@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    background-color: #2079d8;
    transition: all 0.5ms ease;
}

* {
    font-family: 'Inter', sans-serif;
    transition: all 0.5ms ease;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;

    cursor: pointer;
    background: none;
    border: none;
    transition: all 1s ease;
}

.material-symbols-outlined:hover { color: #fff; }
.material-symbols-outlined:active { color: #000; }

#translator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #20b7d8;
    border-radius: 20px;
    width: 80%;
    height: 80%;
    box-shadow: 1px 1px 22px 10px rgba(0,0,0,0.35);
    -webkit-box-shadow: 1px 1px 22px 10px rgba(0,0,0,0.35);
    -moz-box-shadow: 1px 1px 22px 10px rgba(0,0,0,0.35);
}

.lang-input, #action-btn {
    font-size: 30px;
    background: none;
    border: 5px solid #20dad8;
    border-radius: 20px;
}

textarea {
    border: 5px solid #20dad8;
    background: none;border-radius: 10px;
    width: 50%;
    font-size: 30px;
    height: 200px; 
    margin: 20px;
    resize: vertical;
    overflow:inherit;
}

input {
    text-align: center;
    justify-content: center;;
}

#action-btn {
    cursor: pointer;
    transition: all 0.5s ease;
}

#action-btn:hover {
    color: #fff;
}

#action-btn:active {
    transform: scale(0.8);
}